.main-center {
    /* width: 100%; */
    /* height: calc(100vh - 2.5rem); */
    background-color: rgba(81, 225, 246, 0.06);
    display: block;
}

/* table */

/* 按钮 */
.select-button {
    background: url(../img/kuang1.png) 100% 100% no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    /* width: 100%; */
    /* height: 100%; */
    width: 4.5rem;
    height: 2.5rem;
    padding: 0 .5rem;
    margin: 0 .3rem;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

#addForm{
    margin-top: 13px;
    border-collapse: collapse;
    table-layout: fixed;
}


.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    overflow: auto; /* 滚动内容 */
}

/* 弹窗内容 */
.modal-content {
    background-color: #203759;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 关闭按钮样式 */
.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

/* 关闭按钮悬浮效果 */
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 表单样式 */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-group select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input:focus {
    border-color: #203759;
    outline: none;
}

/* 按钮样式 */
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-btn,
.cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    background: url(../img/kuang.png) 100% 100% no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    color: white;
}

.submit-btn:hover {
    background: url(../img/kuang.png) 100% 100% no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    color: white;
}

.cancel-btn {
    background: url(../img/kuang.png) 100% 100% no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    color: white;
}

.cancel-btn:hover {
    background: url(../img/kuang.png) 100% 100% no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    color: white;
}

/* 弹窗显示 */
.modal.show {
    display: block;
}

.select-button:hover {
    background: url(../img/kuang.png) 100% 100% no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

/* table */
.tableList {
    /* height: auto; */
    overflow-y: auto;
    padding: 0 1rem;
    height: calc(100% - 2.5rem);
}

.hiddenInp {
    display: none;
}

/* table */
.tabtop13 {
    margin-top: 13px;
    border-collapse: collapse;
    table-layout: fixed;
}

/* 修改原生滚动条样式 */
.tableList::-webkit-scrollbar {
    width: 1px;
}

.tableList::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.tableList::-webkit-scrollbar-thumb {
    background: #888;
}

.tableList::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tabtop13 td {
    /* background-color: #ffffff; */
    color: #fff;
    height: 2rem;
    line-height: 150%;
    font-size: 1rem;
}


.biaoti {
    font-family: 微软雅黑;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px dashed #CCCCCC;
}

.font-center {
    text-align: center
}

.btbg {
    background: #203759 !important;
}


.titfont {

    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: url(../images/ico3.gif) no-repeat 15px center;
    background-color: #e9faff;
}

.row {
    border-bottom: 1px solid #203759;
    height: 4rem;
}

/* 隐藏原生日期选择器的图标 */
/* input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
} */

/* 自定义的图标样式 */
/* input[type="date"] {
    padding-right: 30px; 
    position: relative;
}

input[type="date"]::after {
    content: url("../img/date.png");
    font-size: 20px; 
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    pointer-events: none; 
} */
/* 修改按钮样式 */
.modifyBtn {}


.little-title {
    background-size: contain;
    display: flex;
    justify-content: space-between;
}

.btn-group {
    display: flex;
    align-items: center;
}


/* 弹窗 */
.dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#myModal, #myModal2 {
    display: none;
    border-radius: 6px;
}

.dialog .modal-content {
    padding: 1rem;
}

.dialog .modal-header {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0 1rem;
    display: flex;
    color: white;
    justify-content: space-between;
}

.dialog .modal-body {
    display: flex;
    justify-content: center;
}

.dialog .modal-content .form-group {
    margin-bottom: 1rem;
}

.dialog .modal-content .form-group label {
    font-size: 1rem;
    width: 20%;
    text-align: right;

}



.date-picker {
    display: flex;
    align-items: center;
    padding: .3rem;
    box-sizing: border-box;
    /* width: 18%; */
    color: #000;
}

.date-input {
    border: 1px solid #ccc;
    padding: 5px;
    /* width: 100%; */
    /* background-color: #0f3354; */
    /* border: none; */
    /* color: #fff; */
    padding: .5rem .3rem;
    font-size: 1rem;
    width: 200px;
    /* 根据需要调整宽度 */
}

.date-picker-button {
    background: url(../img/kuang1.png) 100% 100% no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    /* width: 100%; */
    /* height: 100%; */
    width: 6.5rem;
    height: 2.5rem;
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-picker-button:hover {
    background: url(../img/kuang.png) 100% 100% no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.dialog .modal-footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.dialog .modal-footer button {
    margin: 0 1rem;
    padding: .5rem 1rem;
    font-size: 1rem;
}

/* 修改 */
.line {
    border-bottom: 1px solid #ccc;
    margin: 1rem 0;
}

.dialog#myModal2 .modal-content .form-group label.setting-label {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

/* 遮罩层*/
.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}